@import url(../fonts/Inter/stylesheet.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #1F2937;
}
.main{
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 115px 50px;
}
.main__title{
    width: 354px;
    font-family: 'Inter';
    font-weight: 800px;
    font-size: 40px;
    line-height: 40px;
    color:#fff;
    margin-bottom: 14px;
}
.main__green-title{
    color: #4ADF86;
}
.main__subtitle{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:rgba(255,255,255,0.8);
    margin-bottom: 50px;
}
.main__buttons::after{
    content: "";
    display: block;
    width: 400px;
    border:1px solid #273549;
    margin-bottom: 35px;
}
.generate__btn{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    padding: 9px 17px;
    border-radius: 6px;
    border:none;
    background:#10B981;
    cursor: pointer;
    margin-bottom: 35px;
}
.generate__btn:hover{
    transition: .2s;
    background:#059669;
}
.generate__btn:active{
    transition: .2s;
    background:#065F46;
}
.main__passfields{
    display: flex;
    justify-content: space-between;
}
.main__password{
    border:none;
    outline: none;
    border-radius: 6px;
    background: #273549;
    padding: 4px 15px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color:#55F991;
    text-align: center;
    width: 190px;
    cursor: pointer;
}
.main__password:not(:last-child){
    margin-right: 24px;
}
.main__slider-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__range-slider{
    width: 350px;
    appearance: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    height: 10px;
    border-radius: 4px;
}
.main__range-slider::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background: #10B981;
    border-radius: 6px;
}
.main__slider-text{
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    color:rgba(255,255,255,0.8);
}
#slider-value{
    color:#4ADF86;
    font-size: 26px;
    font-weight: 700;
}
.main__toggle{
    margin-top: 35px;
}
.main__toggle-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.main__toggle-wrapper:not(:last-child){
    margin-bottom: 15px;
}
.main__symbols-label,.main__numbers-label{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
.main__toggle-symbols,.main__toggle-numbers{
    position: relative;
    width: 40px;
    height: 20px;
    margin: 1px 0px 0px 20px;
    vertical-align: top;
    background: #fff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline:none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.main__toggle-symbols::after,.main__toggle-numbers::after{
    content: "";
    position: absolute;
    left:1.4px;
    top: -0.5px;
    width: 18px;
    height: 18px;
    background: #10B981;
    border-radius: 50%;
    transform: translateX(0);

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.main__toggle-symbols:checked::after,.main__toggle-numbers:checked::after{
    transform: translateX(calc(100% + 0.5px));
    background-color: #fff;
}
.main__toggle-symbols:checked,.main__toggle-numbers:checked{
    background: #10B981;
    border: 1px solid #10B981;
}